@model HMS.Models.PatientAppointmentViewModel.PatientAppointmentCRUDViewModel

@{ ViewData["Title"] = "Create"; }

<div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="AddEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreatedDate" />
                <input type="hidden" asp-for="CreatedBy" />


                <div class="form-group row">
                    <label asp-for="PatientId" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="PatientId" asp-items="@ViewBag._LoadddlPatientName" id="PatientId" class="form-control" style="width:100%;">
                            <option disabled selected>--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="PatientId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="PatientType" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="PatientType" id="PatientType" class="form-control" style="width:100%;">
                            <option value="1">Out Patient</option>
                            <option value="2">In Patient</option>
                        </select>
                        <span asp-validation-for="PatientType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="DoctorId" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <select asp-for="DoctorId" asp-items="@ViewBag._LoadddlDoctorName" id="PatientId" class="form-control" style="width:100%;">
                            <option disabled selected>--- SELECT ---</option>
                        </select>
                        <span asp-validation-for="DoctorId" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group row">
                    <label asp-for="SerialNo" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="SerialNo" class="form-control" />
                        <span asp-validation-for="SerialNo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="AppointmentDate" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="AppointmentDate" class="form-control" />
                        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="AppointmentTime" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input asp-for="AppointmentTime" class="form-control" />
                        <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Note" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <textarea asp-for="Note" class="form-control"></textarea>
                        <span asp-validation-for="Note" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <input type="submit" value="Save" class="btn btn-info">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script>
    $(document).ready(function () {
        $("#PatientId").select2();
        $("#DoctorId").select2();
    });
</script>