<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>

<footer class="main-footer hidden-print">
    <strong>Copyright &copy; 2024-2025 <a href="https://anamyaTech.com">Anamya Tech </a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.1
    </div>
</footer>


