<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6">
                    @*<button class="btn btn-sm btn-danger" onclick="AddEdit(0)">Add New</button>*@
                    <a class="fa fa-plus-square fa-2x" onclick="AddEdit(0)"></a>
                </div>
                <div class="col-md-6 pull-right">
                    <h5 class="pull-right"><b>&nbsp;PaymentsDetails List</b></h5>
                </div>
            </div>
        </div>

        <div class="panel-body scroll panel-height">
            <table id="tblPaymentsDetails" class="ItemTranTable" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
<th>PaymentsId</th>
<th>PaymentCategoriesId</th>
<th>ChargeAmount</th>
<th>CreatedDate</th>
<th>ModifiedDate</th>
<th>CreatedBy</th>

                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
</div>

<partial name="~/Views/UIComponents/_MediumModal.cshtml" />

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }
</style>

<script src="~/js/PaymentsDetails/PaymentsDetails_CRUD.js"></script>
<script src="~/js/PaymentsDetails/PaymentsDetails_Datatable.js"></script>

