@model HMS.Models.BedViewModel.BedCRUDViewModel

@{
    ViewData["Title"] = "Create";
}

<div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="AddEdit" id="frmBed">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreatedDate" />
                <input type="hidden" asp-for="CreatedBy" />
                @if (ViewBag.Role == "SuperAdmin")
                {
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Hospital</label>
                        <div class="col-sm-9">
                            <select asp-for="HospitalId" asp-items="@ViewBag.ddlHospital" id="HospitalId"
                                    class="form-control" style="width:100%;">
                                <option disabled selected>--- SELECT ---</option>
                            </select>
                            <span asp-validation-for="HospitalId" class="text-danger"></span>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="BedCategoryId" class="control-label">Bed Category</label>
                    <select asp-for="BedCategoryId" asp-items="@ViewBag.ddlBedCategories" id="BedCategoryId" onchange="LoadBedPrice()" class="form-control">
                        <option disabled selected>--- SELECT ---</option>
                    </select>
                    <span asp-validation-for="BedCategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BedCategoryPrice" class="control-label">Bed Price</label>
                    <input asp-for="BedCategoryPrice" id="BedCategoryPrice" class="form-control" readonly />
                </div>

                <div class="form-group">
                    <label asp-for="No" class="control-label">No</label>
                    <input asp-for="No" class="form-control" />
                    <span asp-validation-for="No" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Save" onclick="SaveData()" class="btn btn-info" id="btnSave">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $('#CurrentURL').val(window.location.pathname);
    $(document).ready(function () {
        $("#HospitalId").select2();
    });
</script>

