@model HMS.Models.DoctorsInfoViewModel.DoctorsInfoCRUDViewModel

@{
    ViewData["Title"] = "Create";
}

<div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Add" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ApplicationUserId" />
                <input type="hidden" asp-for="CreatedDate" />
                <input type="hidden" asp-for="CreatedBy" />

                <div class="row">
                    <div class="col-6 col-sm-6">
                        <div class="form-group row">
                            <label asp-for="FirstName" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="FirstName" class="form-control" type="text" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="LastName" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="LastName" class="form-control" type="text" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="PhoneNumber" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="PhoneNumber" class="form-control" type="text" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Email" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Email" class="form-control" type="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="PasswordHash" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="PasswordHash" class="form-control" type="password" />
                                <span asp-validation-for="PasswordHash" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ConfirmPassword" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="DoctorFee" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="DoctorFee" class="form-control" type="number" />
                                <span asp-validation-for="DoctorFee" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6">
                        <div class="form-group row">                          
                            <label asp-for="DesignationId" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select asp-for="DesignationId" asp-items="@ViewBag.ddlDesignation" id="DesignationId"
                                    class="form-control" style="width:100%;">
                                    <option disabled selected>--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="DesignationId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="DoctorsID" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="DoctorsID" class="form-control" type="text" />
                                <span asp-validation-for="DoctorsID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Address" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Address" class="form-control" type="text" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Country" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Country" class="form-control" type="text" />
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="ProfilePicture" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <span class="control-fileupload">
                                    <label for="file">Choose a file :</label>
                                    <input type="file" asp-for="ProfilePictureDetails" />
                                </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="RoleId" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select asp-for="RoleId" asp-items="@ViewBag.ddlManageUserRoles" id="RoleId"
                                    class="form-control" style="width:100%;">
                                    <option disabled selected>--- SELECT ---</option>
                                </select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input type="submit" value="Save" class="btn btn-info">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script>
    $(document).ready(function () {
        $("#RoleId").select2();
        $("#DesignationId").select2();
    });
</script>
