@model HMS.Models.MedicineLabelViewModel.MedicineLabelPrintViewModel

<div class="row">
    <div class="col-sm-12">
        <div class="panel-footer text-right">
            <button id="btnPrint" class="hidden-print btn btn-success pull-right">Print <span class="fa fa-print"></span></button>
            <button class="hidden-print btn btn-dark" onclick="BacktoPreviousPage()">Back</button>
        </div>


        <div class="row">
            <div class="PageSize78by43">
                <hr />
                @foreach (var item in Model.listCheckupMedicineDetailsCRUDViewModel)
                {
    <abbr><b>@Model.HospitalName</b></abbr><br>
                    <abbr><b>@Model.PatientName</b></abbr><br>
                                    <abbr><b>@item.MedicineName</b></abbr><br>
                                                    <abbr><b>Take </b></abbr>@item.WhentoTake
                                                                    <hr />}
            </div>
        </div>
    </div>
</div>


<style>
    * {
        font-size: 12px;
        font-family: 'Times New Roman';
    }

    .PageSize78by43 {
        width: 295px;
        max-width: 295px;
    }
</style>

<script>
    const $btnPrint = document.querySelector("#btnPrint");
    $btnPrint.addEventListener("click", () => {
        window.print();
    });
</script>

