@model HMS.Models.MedicineManufactureViewModel.MedicineManufactureCRUDViewModel

@{ ViewData["Title"] = "Create"; }

<div>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="AddEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="CreatedDate" />
                <input type="hidden" asp-for="CreatedBy" />
                @if (ViewBag.Role == "SuperAdmin")
                {
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Hospital</label>
                        <div class="col-sm-9">
                            <select asp-for="HospitalId" asp-items="@ViewBag.ddlHospital" id="HospitalId"
                                    class="form-control" style="width:100%;">
                                <option disabled selected>--- SELECT ---</option>
                            </select>
                            <span asp-validation-for="HospitalId" class="text-danger"></span>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-info">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
